<%- include('partials/header'); -%>
  <h1>Home</h1>
  <p> <%= homeContent %> </p>

  <% homePosts.forEach(post => { %>
    <h3> <%= post.postTitle %> </h3>
    <p> <%= post.postContent %> </p>
  <% }); %>
<%- include('partials/footer'); -%>